{% macro render_table_header(instrument) %}

	{% if instrument.response_type == "likert" %}

		<colgroup>
			<col width="60%">
			<col span="{{ instrument.likert_max }}" width="{{ 40/instrument.likert_max }}%">
		</colgroup>

    <thead><tr>
			<!-- Insert sesrl column header -->
			<th>
				{% if instrument.code == "sesrl" %}
				How confident are you about your ability to do the following activities successfully?
				{% endif %}
			</th>

			<!-- Insert likert labels -->
			{% for number in range(instrument.likert_min, instrument.likert_max+1) %}
			<th>
				{% if number == instrument.likert_min %}
				{{ instrument.likert_min_label.capitalize() }}
				{% elif number == instrument.likert_max %}
				{{ instrument.likert_max_label.capitalize() }}
				{% else %}
					{% if instrument.likert_intermediate_labels %}
					{{ instrument.likert_intermediate_labels[number-2].capitalize() }}
					{% endif %}
				{% endif %}
			</th>
			{% endfor %}
		</tr>

				<!-- Insert likert numbers -->
		<tr>
			<th></th>
			{% for number in range(instrument.likert_min, instrument.likert_max+1) %}
			<th>
				{{ number }}
			</th>
			{% endfor %}
    </tr></thead>


	{% elif instrument.response_type == "checkbox" %}
		<colgroup>
			<col width="60%">
			<col width="40%">
		</colgroup>

	{% elif instrument.response_type == "truefalse" %}
		<colgroup>
			<col width="10%">
			<col width="1%">
			<col width="1%">
		</colgroup>

    <thead><tr>
			<th></th>
			<th>True</th>
			<th>False</th>
      </tr></thead>

	{% endif %}

{% endmacro %}
