{% extends "base.html" %}
{% from "macros/questionnaire_header.html" import render_table_header %}
{% from "macros/questionnaire_statements.html" import render_questionnaire_statements %}

{% block header %}{% block title %}{{ title }}{% endblock %}{% endblock %}

{% block content %}


  <form action="{{ url_for('results_display.output') }}" method="POST">
    {% for header in formheaders_and_instruments %}
      <div class="card border-dark mb-3 mt-4">
        <div class="card-body text-dark">
          <div class="card-title"><h4>{{ header.header }}</h4></div>
          <div class="card-text"><p>{{ header.instruction }}</p></div>
        </div>
      </div>

        {% for instrument in formheaders_and_instruments[header] %}
          <table class="table table-borderless table-sm">

            {{ render_table_header(instrument) }}
            {{ render_questionnaire_statements(instrument) }}

          </table>

        {% endfor %}
        <br />
      {% endfor %}
      <input class="btn btn-dark btn-lg" type="submit" value="Submit" />
  </form>
      </div>


{% endblock %}
