{% extends "base.html" %}

{% block title %}Responses{% endblock %}

{% block header %}<i class="fa fa-floppy-o"></i> Your Responses{% endblock %}

{% block content %}
  <ol>
    {% for session in sessions %}
      <li>
        <div class="row">
          <div class="col-3"><p>{{ tutorial(session.tutorial_topic_code) }}</p></div>
          <div class="col">
            <a href="{{ url_for("results_display.response_from_session", session_id=session.id) }}">
              {{ session.timestamp.date() }}
            </a>
          </div>
        </div>
      </li>
    {% endfor %}
  </ol>
{% endblock %}
